@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<!DOCTYPE html>


<html lang="en">
    <p> Welcome to our Art Club Application </p>
   
</html>
